<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Aluno</title>
</head>
<body>
<div align="center">
    <h1>Edit Aluno</h1>
    <br />
    <form action="#" th:action="@{/save/aluno}" th:object="${aluno}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Matricula:</td>
                <td><input type="text" th:field="*{matricula}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Nome:</td>
                <td><input type="text" th:field="*{nome}" /></td>
            </tr>
            <tr>
                <td>CPF:</td>
                <td><input type="text" th:field="*{cpf}" /></td>
            </tr>
            <tr>
                <td>Idade:</td>
                <td><input type="number" th:field="*{idade}" /></td>
            </tr>
            <tr>
                <td>Sexo</td>
                <td><input type="radio" th:field="*{sexo}" th:value="M" />
                    <label>M</label>
                    <input type="radio" th:field="*{sexo}" th:value="F" />
                    <label>F</label></td>
            </tr>
            <tr>
                <td>PNE</td>
                <td><input type="radio" th:field="*{pne}" th:value="S" />
                    <label>S</label>
                    <input type="radio" th:field="*{pne}" th:value="N" />
                    <label>N</label></td>
            </tr>
            <tr>
                <td>Escolaridade:</td>
                <td><input type="number" th:field="*{escolaridade}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>