<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Professor</title>
</head>
<body>
<div align="center">
    <h1>Create New Professor</h1>
    <br />
    <form action="#" th:action="@{/save/professor}" th:object="${professor}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>CPF:</td>
                <td><input type="text" th:field="*{cpf}" /></td>
            </tr>
            <tr>
                <td>Nome</td>
                <td><input type="text" th:field="*{nome}" /></td>
            </tr>
            <tr>
                <td>Idade</td>
                <td><input type="number" th:field="*{idade}" /></td>
            </tr>
            <tr>
                <td>Sexo</td>
                <td><input type="radio" th:field="*{sexo}" th:value="M" />
                    <label>M</label>
                    <input type="radio" th:field="*{sexo}" th:value="F" />
                    <label>F</label></td>
            </tr>
            <tr>
                <td>Tempo de ensino</td>
                <td><input type="number" th:field="*{tempoEnsino}" /></td>
            </tr>
            <tr>
                <td>Salario</td>
                <td><input type="number" th:field="*{salario}" /></td>
            </tr>
            <tr>
                <td>Disciplina</td>
                <td><select th:field="*{disciplina}">
                    <option th:each="i : ${listDisciplinas}" th:value="${i.id}" th:text="${i.titulo}"/>
                </select></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>